USE [master]
GO
/****** Object:  Database [DKP]    Script Date: 22/11/2023 17:48:19 ******/
CREATE DATABASE [DKP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DKP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DKP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DKP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DKP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DKP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DKP]
GO
/****** Object:  Schema [cadastro]    Script Date: 22/11/2023 17:48:19 ******/
CREATE SCHEMA [cadastro]
GO
/****** Object:  Table [cadastro].[TB_CLIENTE]    Script Date: 22/11/2023 17:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cadastro].[TB_CLIENTE](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NM_CLIENTE] [varchar](400) NOT NULL,
	[DT_NASCIMENTO] [date] NOT NULL,
	[NR_CPF] [varchar](11) NOT NULL,
	[DT_CADASTRO] [datetime] NOT NULL,
	[NR_RG] [varchar](20) NULL,
	[FL_ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_TB_CLIENTE_ID_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cadastro].[TB_ENDERECO]    Script Date: 22/11/2023 17:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cadastro].[TB_ENDERECO](
	[ID_ENDERECO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_TIPO_ENDERECO] [int] NOT NULL,
	[NM_LOGRADOURO] [varchar](400) NOT NULL,
	[NR_LOGRADORO] [varchar](20) NULL,
	[NR_CEP] [varchar](8) NOT NULL,
	[NM_BAIRRO] [varchar](400) NULL,
	[DT_CADASTRO] [datetime] NOT NULL,
	[FL_ATIVO] [bit] NOT NULL,
	[NM_COMPLEMENTO] [varchar](200) NULL,
	[NM_MUNICIPIO] [varchar](200) NOT NULL,
	[UF] [varchar](2) NOT NULL,
 CONSTRAINT [PK_TB_ENDERECO_ID_ENDERECO] PRIMARY KEY CLUSTERED 
(
	[ID_ENDERECO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cadastro].[TB_TELEFONE]    Script Date: 22/11/2023 17:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cadastro].[TB_TELEFONE](
	[ID_TELEFONE] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_TIPO_TELEFONE] [int] NOT NULL,
	[NR_DDD] [varchar](2) NOT NULL,
	[NR_TELEFONE] [varchar](9) NOT NULL,
	[DT_CADASTRO] [datetime] NOT NULL,
	[FL_ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_TB_TELEFONE_ID_TELEFONE] PRIMARY KEY CLUSTERED 
(
	[ID_TELEFONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cadastro].[TB_TIPO_ENDERECO]    Script Date: 22/11/2023 17:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cadastro].[TB_TIPO_ENDERECO](
	[ID_TIPO_ENDERECO] [int] IDENTITY(1,1) NOT NULL,
	[DS_TIPO_ENDERECO] [varchar](200) NOT NULL,
	[FL_ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_TB_TIPO_ENDERECO_ID_TIPO_ENDERECO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_ENDERECO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cadastro].[TB_TIPO_TELEFONE]    Script Date: 22/11/2023 17:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cadastro].[TB_TIPO_TELEFONE](
	[ID_TIPO_TELEFONE] [int] IDENTITY(1,1) NOT NULL,
	[DS_TELEFONE] [varchar](200) NOT NULL,
	[FL_ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_TB_TIPO_TELEFONE_ID_TIPO_TELEFONE] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_TELEFONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [cadastro].[TB_TIPO_ENDERECO] ON 

INSERT [cadastro].[TB_TIPO_ENDERECO] ([ID_TIPO_ENDERECO], [DS_TIPO_ENDERECO], [FL_ATIVO]) VALUES (1, N'Residencial', 1)
INSERT [cadastro].[TB_TIPO_ENDERECO] ([ID_TIPO_ENDERECO], [DS_TIPO_ENDERECO], [FL_ATIVO]) VALUES (2, N'Comercial', 1)
SET IDENTITY_INSERT [cadastro].[TB_TIPO_ENDERECO] OFF
GO
SET IDENTITY_INSERT [cadastro].[TB_TIPO_TELEFONE] ON 

INSERT [cadastro].[TB_TIPO_TELEFONE] ([ID_TIPO_TELEFONE], [DS_TELEFONE], [FL_ATIVO]) VALUES (1, N'Celular', 1)
INSERT [cadastro].[TB_TIPO_TELEFONE] ([ID_TIPO_TELEFONE], [DS_TELEFONE], [FL_ATIVO]) VALUES (2, N'Residencial', 1)
INSERT [cadastro].[TB_TIPO_TELEFONE] ([ID_TIPO_TELEFONE], [DS_TELEFONE], [FL_ATIVO]) VALUES (3, N'Comercial', 1)
SET IDENTITY_INSERT [cadastro].[TB_TIPO_TELEFONE] OFF
GO
ALTER TABLE [cadastro].[TB_CLIENTE] ADD  CONSTRAINT [DF_TB_CLIENTE_FL_ATIVO]  DEFAULT ((1)) FOR [FL_ATIVO]
GO
ALTER TABLE [cadastro].[TB_ENDERECO] ADD  CONSTRAINT [DF_TB_ENDERECO_FL_ATIVO]  DEFAULT ((1)) FOR [FL_ATIVO]
GO
ALTER TABLE [cadastro].[TB_TELEFONE] ADD  CONSTRAINT [DF_TB_TELEFONE_FL_ATIVO]  DEFAULT ((1)) FOR [FL_ATIVO]
GO
ALTER TABLE [cadastro].[TB_TIPO_ENDERECO] ADD  CONSTRAINT [DF_TB_TIPO_ENDERECO_FL_ATIVO]  DEFAULT ((1)) FOR [FL_ATIVO]
GO
ALTER TABLE [cadastro].[TB_TIPO_TELEFONE] ADD  CONSTRAINT [DF_TB_TIPO_TELEFONE_FL_ATIVO]  DEFAULT ((1)) FOR [FL_ATIVO]
GO
ALTER TABLE [cadastro].[TB_ENDERECO]  WITH CHECK ADD  CONSTRAINT [FK_TB_ENDERECO_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [cadastro].[TB_CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [cadastro].[TB_ENDERECO] CHECK CONSTRAINT [FK_TB_ENDERECO_ID_CLIENTE]
GO
ALTER TABLE [cadastro].[TB_ENDERECO]  WITH CHECK ADD  CONSTRAINT [FK_TB_ENDERECO_ID_TIPO_ENDERECO] FOREIGN KEY([ID_TIPO_ENDERECO])
REFERENCES [cadastro].[TB_TIPO_ENDERECO] ([ID_TIPO_ENDERECO])
GO
ALTER TABLE [cadastro].[TB_ENDERECO] CHECK CONSTRAINT [FK_TB_ENDERECO_ID_TIPO_ENDERECO]
GO
ALTER TABLE [cadastro].[TB_TELEFONE]  WITH CHECK ADD  CONSTRAINT [FK_TB_TELEFONE_ID_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [cadastro].[TB_CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [cadastro].[TB_TELEFONE] CHECK CONSTRAINT [FK_TB_TELEFONE_ID_CLIENTE]
GO
ALTER TABLE [cadastro].[TB_TELEFONE]  WITH CHECK ADD  CONSTRAINT [FK_TB_TELEFONE_ID_TIPO_TELEFONE] FOREIGN KEY([ID_TIPO_TELEFONE])
REFERENCES [cadastro].[TB_TIPO_TELEFONE] ([ID_TIPO_TELEFONE])
GO
ALTER TABLE [cadastro].[TB_TELEFONE] CHECK CONSTRAINT [FK_TB_TELEFONE_ID_TIPO_TELEFONE]
GO
USE [master]
GO
